/.vscode
/build
/certificates/*
!/certificates/server.crt
!/certificates/server.key
!/certificates/jwt_priv_key.pem
!/certificates/jwt_pub_key.pem
/data
/documents
/files
/modules
/tables
.clang-format
.gitignore
format.sh
README.md
run-cassandra.sh
set_variables.sh